.clients {
  @extend %section;

  &__title {
    margin-bottom: 50px;
    font-size: 36px;
    text-align: center;
    color: $secondary-text-color;
  }
}

.clients {
  &__list {
    @extend %list;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__item {
    width: 170px;
    height: 92px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    @extend %link;
    width: 100%;
    height: 100%;
    border: 1px solid $icone-color;
    border-radius: 4px;
    fill: $icone-color;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: fill $transition-time $function-time;

    &:hover,
    &:focus {
      fill: $acsent-color;
      border: 1px solid $acsent-color;
    }
  }

  &__icone {
    width: 106px;
    height: 60px;
  }
}