.hero {
  padding: 118px 0;
  text-align: center;

  @media screen and (min-width:1200px) {
    padding: 200px 0;
  }

  &__tittle {
    margin: 0 auto 30px;
    max-width: 696px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;

    @media screen and (min-width:1200px) {
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
    }
  }

  &__button {
    @extend %button;
    padding: 10px 32px;
    display: inline-block;

    &:hover,
    &:focus,
    &:active {
      background-color: $secondary-acsent-color;
      box-shadow: $main-shadow;
      border-radius: 4px;
    }
  }
}

.overlay {
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: $hero-bgr;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  @media screen and (max-width:480px) {
    width: 100vw;
  }
  @media screen and (min-width:480px) {
    min-width: 480px;
    
  }

  @media screen and (min-width:1200px) {
    max-width: 1600px;
    min-height: 600px;
  }
}

.overlay {
  // phone screen
  background-image: linear-gradient(to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/mobille/hero_mobile/hero_mob-sm.jpg);
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {

    background-image: linear-gradient(to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/mobille/hero_mobile/hero_mob-md.jpg)
  }

  // tablet screen
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/tablet/hero_tablet/hero_tablet-sm.jpg);

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/tablet/hero_tablet/hero_tablet-md.jpg)
    }
  }

  // desctop screen
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/desctop/hero_desctop/hero_desc-sm.jpg);

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/desctop/hero_desctop/hero_desc-md.jpg)
    }
  }
}