.logo {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  color: $acsent-color;
  font-family: $logo-fonts;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  &__container {
    margin-right: 93px;
  }
}

.logo--black {
  color: $black-color;
}