.modal-form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;

  &__title {
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $secondary-text-color;
    margin-bottom: 12px;
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__label {
    margin-bottom: 4px;
  }

  &__input {
    width: 100%;
    height: 40px;
    color: $secondary-text-color;
    margin: 0;
    padding: 11px 12px;
    outline: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 42px;

    &:focus {
      border-color: $secondary-acsent-color;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;

    transition: fill $transition-time $function-time;
  }

  &__textarea {
    color: $secondary-text-color;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    outline: none;
    resize: none;

    &:focus {
      border-color: $secondary-acsent-color;
    }
  }

  &__button {
    @extend %button;
    padding: 10px 52px;
    display: block;
    margin: 0 auto;
    background: $secondary-acsent-color;

    &:hover,
    &focus,
    &active {
      background-color: $secondary-acsent-color;
      box-shadow: $main-shadow;
      border-radius: 4px;
    }
  }
  &__group {
    position: relative;
  }
}

.modal-form__input:focus+.modal-form__icon {
  fill: $acsent-color;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  outline: none;
  border-color: aliceblue;

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: 2px solid $acsent-color;
    }
  }

  &__link {
    color: $acsent-color;
    text-decoration: underline;
  }

}

.checbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid $secondary-text-color;
  border-radius: 2px;
}

.checkbox:checked+.checbox__icon {
  background-color: $acsent-color;
  border-color: $acsent-color;

  background-image: url("../images/icon_check_full.svg");
  background-size: contain;
  background-color: $acsent-color;
  background-origin: border-box;
}