.preferences {
  @extend %section;

  &__title--hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $secondary-text-color;

    @media screen and (min-width: 768px) {
      text-align: start;
    }
  }

  &__details {
    font-size: 14px;
  }
}

.preferences {
  &__list {
    @extend %list;

    @media screen and (min-width: 768px) {
      display: inline-flex;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: space-between;
    }


    @media screen and (min-width:1200px) {
    display: inline-flex;
    gap: 30px;
    }
  }
  &__item {
    width: 450px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and (min-width:768px) {
      width: 354px;
      gap: 30px;
      margin-bottom: 0px;
      }


    @media screen and (min-width:1200px) {
      width: 270px;
      margin-bottom: 0px;
      }
  }
}

.preferences__icons {
  width: 450px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: $secondary-bgr;

  @media screen and (min-width:768px) {
    width: 354px;
    }

  @media screen and (min-width:1200px) {
    width: 270px;
    }
  }