.projects {
  padding-top: 0px;
  padding-bottom: 66px;

  &__title {
    margin-bottom: 50px;
    font-size: 36px;
    text-align: center;
    color: $secondary-text-color;
  }
}

.projects {
  &__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__items {
    position: relative;
  }

  &__items:not(:last-child) {
    margin-right: 30px;
  }
}

.projects__image {
  display: block;
}

.projects__description {
  position: absolute;
  bottom: 0;
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: $white-color;
  background: $projects-card-descr-bgr;
  min-height: 70px;
  width: 100%;
}