.team {
  &__title--hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  @extend %section;
  background-color: $secondary-bgr;
}

.team {
  &__list {
    @extend %list;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 270px;
    box-shadow: $person-card-shedow;
    margin-top: 16px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__image {
    display: block;
  }

  &__description {
    max-width: 370px;
    padding: 30px 10px;
    background-color: $white-color;
    border: 1px solid $portfolio-cards-brd;
    border-top: none;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    color: $secondary-text-color;
  }

  &__position {
    line-height: 1.19;
    text-align: center;
    color: $main-text-color;
  }
}