  $acsent-color: #2196f3;
  $secondary-acsent-color: #188ce8;
  $main-text-color: #757575;
  $secondary-text-color: #212121;
  $placeholder-text: rgba(117, 117, 117, 0.5);
  $white-color: #ffffff;
  $black-color: #000000;
  $border-btm: #ececec;
  $icone-color: #afb1b8;
  $footer-contacts-color: rgba(255, 255, 255, 0.6);
  $portfolio-cards-brd: #eeeeee;

  $main-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  $portfolio-nav-buttons-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  $modal-box-shedow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  $person-card-shedow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  $portfolio-cards-shedow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  $secondary-bgr: #f5f4fa;
  $hero-bgr: #2f303a;
  $backdrop-bgr: rgb(0, 0, 0, 0.2);
  $icon-footer-bgr: rgba(255, 255, 255, 0.1);
  $projects-card-descr-bgr: rgba(47, 48, 58, 0.8);
  $thumb-text-bgr: rgba(33, 150, 243, 0.9);

  $primery-fonts: "Roboto", sans-serif;
  $logo-fonts: "Raleway", sans-serif;

  $function-time: cubic-bezier(0.4, 0, 0.2, 1);
  $transition-time: 250ms;
